<div class="items-sell-contents">
  <header class="items-sell-header">

  </header>
  <div class="items-sell-main">
    <h2 class="items-sell-title">投稿内容を入力</h2>
    <%= form_with model: @article, local: true do |f| %>
    

       <%=render 'shared/error_messages', model: f.object %>
                 
    <%# 画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        旅の写真
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"article-image" %>
      </div>
    </div>
    <%# /画像 %>

    <%# 説明 %>
    <div class="new-items">
      <div class="items-explain">
        <div class="weight-bold-text">
          写真の説明
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :instruction, class:"items-text", id:"item-info", placeholder:"写真の説明（必須 1,000文字まで）" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>

    <div class="new-items">
      <div class="items-explain">
        <div class="weight-bold-text">
          現地の天気・服装
        </div>
        <%= f.text_area :weather, class:"items-text", id:"item-info", placeholder:"旅行先の天気や服装について", rows:"3"%>
      </div>
    </div>

    <div class="new-items">
      <div class="items-explain">
        <div class="weight-bold-text">
          これから旅行する人へのアドバイス
        </div>
        <%= f.text_area :advice, class:"items-text", id:"item-info", placeholder:"例)ハワイ旅行には事前にESTAの取得が必要です。", rows:"5" %>
      </div>
    </div>
    <%# 説明 %>

    <%# カテゴリーと都道府県選択 %>
    <div class="items-detail">
      <div class="weight-bold-text">投稿の詳細</div>
      <div class="form">
        <div class="weight-bold-text">
          カテゴリー
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {class:"select-box", id:"article-category"}) %>

        <div class="weight-bold-text">
          国名
          <span class="indispensable">必須</span>
        </div>
        <%= f.country_select :country, selected: "JP" %>

        <div class="weight-bold-text">
          都道府県
        </div>
        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {class:"select-box", id:"article-counrty"}) %>
      </div>
    </div>
    <%# /カテゴリーと都道府県選択 %>


    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "投稿する" , class:"sell-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>





 



