<h4 class="title is-4 ">投稿詳細</h4>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
               <%= image_tag @article.image, class: "article-img" %>
            </figure>
         </div>
         <div class="card-content">
           <div class="media">
              <div class="media-content">
                <p>
                 <small>写真の説明</small>
                 <br>
                 <strong><%= @article.instruction %></strong>
                </p>
              </div>
            </div>
            <div class="media">
               <div class="media-content">
                 <p>
                   <small>現地の天気・服装</small>
                   <br>
                   <strong><%= @article.weather%></strong>
                  </P>
               </div>
            </div>
             
            <div class="media">
               <div class="media-content">
                 <p>
                   <small>これから旅行する人へのアドバイス</small>
                   <br>
                   <strong><%= @article.advice%></strong>
                  </P>
               </div>
            </div>

 



          <div class="content">
            <table class="table is-narrow">
              <tr>
               <th>投稿者</th>
               <td><%= @article.user.nickname%></td>
              </tr>
              <tr>
                <th>カテゴリー</th>
                <td><%= @article.category.name %></td>
              </tr>

              <tr>
                <th>国名コード</th>
                <td><%=@article.country %></td>
              </tr>
                
               <tr>
                <th>都道府県</th>
                <td><%=@article.prefecture.name%>
              </tr>
          </table>


          <div class="media-content">
            <div class="field">
               <p class="control">
                 <% if user_signed_in? %>
                   <%= form_with(model: [@article, @comment], local: true) do |form| %>
                   <%= form.text_area :text, class:"textarea", placeholder: "コメントする"%>
            </div>  
              <div class="field">
                <p class="control">
                   <%= form.submit "SEND" , class:"button is-warning"%>
                </p>
              </div>
                 <% end %>
               </p>
                 <% else %>
                  <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
                 <% end %>
            </div>
          </div>

      
  <div class="card-content">
    <div class="media">
       <div class="media-content">
        <% if @article.comments.present? %>
          <h4>＜コメント一覧＞</h4>
        <% end%>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>
          </p>
          <% if comment.user.id == @article.user.id %>
            <%= link_to article_comment_path(@article, comment), method: :delete, class:"panel-block" do %>
              <span class="panel-icon">
                <i class="fas fa-trash"></i>
              </span>
              コメントを削除する
            <% end %>
          <% end %>
        <% end %>
  </div>
</div>