<!DOCTYPE html>
<html>
  <head>
    <title>tripnote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to root_path, class: "navbar-item" do %>
          <h1 class="title is-5" style="font-family: arial;">Tripnote</h1>
        <% end %>
        <div class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </div>



      <% if user_signed_in? %>
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-item">
            <%= link_to "投稿一覧", articles_path, class: "navbar-item button is-warning is-light" %>
         </div>
          <div class="navbar-item">
            <%= link_to "投稿する", new_article_path, class: "navbar-item button is-warning is-light" %>
          </div>


          <div class="navbar-end">
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                  <%= link_to "マイページ",user_path(current_user), class: "button is-warning is-light" %>
                </p>
                <p class="control">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "button is-warning is-light" %>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-item">
            <%= link_to "投稿一覧", articles_path, class: "navbar-item button is-warning is-light" %>
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                  <%= link_to "ログイン", new_user_session_path, class: "button is-warning is-light" %>
                </p>
                <p class="control">
                  <%= link_to "新規登録", new_user_registration_path, class: "button is-warning is-light" %>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
        <div class="navbar-end">
            <div class="navbar-item">
               <div class="field is-grouped">
                 <%= form_with(url: search_articles_path, local: true, method: :get, class: "search-form") do |form| %>
                   <%= form.text_field :keyword, class: "search-input", placeholder: "投稿を検索する" , autofocus: true%>
                   <%= form.submit "検索", class: "button is-primary is-light" %>
                 <% end %>          
              </div>
           </div>
        </div>
      </div>




     </nav>
    <%= yield %>
  </body>
</html>

